*{
    margin: 0;
    padding: 0;
    list-style: none;
}

#form_search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h1{
    width: 100%;
    font-size: 25px;
    text-align: center;
}
table{
    width: 100%;
}
thead{
    width: 100%;
}
td,th{
    text-align: center;
}
.numberCount{
    width: 30px;
}

.add1{
    margin-right: 15px;
}
#payMoneyAndCheck,#close{
    width: 15%;
    margin: 0;
}
#test{
    position: relative;
}
#cart{
    position: absolute;
    top: 0;
    right: 0;
}
.printAndCar{
    position: relative;

}
#form_product{
    display: none;
    background-color: orange;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    z-index:10;
}
#test2{
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.center{
    text-align: center;
}